@charset "utf-8";
/*基本情報*/
/* ユニバーサルセレクタで余白リセット */
* {
	margin: 0;
	padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
body {
  	/*font-family: 'Noto Sans JP', sans-serif;*/
  		font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体","BIZ UDPGothic";

		/*背景色*/
	  	background:
   		-webkit-linear-gradient(
			hsla(42, 76%, 85%, 1),
			hsla(30, 100%, 100%, 1)
		);
		background:
		-moz-linear-gradient(
			hsla(42, 76%, 85%, 1),
	    	hsla(30, 100%, 100%, 1)
		);
		background:
		-o-linear-gradient(
			hsla(42, 76%, 85%, 1),
			hsla(30, 100%, 100%, 1)
		);
		background:
		linear-gradient(
			hsla(42, 76%, 85%, 1),
			hsla(30, 100%, 100%, 1)
	   	);
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,800,400&subset=latin,latin-ext);

#page {
  width: 99%;
  margin: 0 auto;
  border: blue 5px solid;
}

/*header用*/
@media screen and (min-width: 700px) {
#page {
	  width: 98%;
	  border-color: blue;
}
header {
    height: 510px;/*この辺合わせる*/
    z-index: 10;
}
.header-banner {
    background-color: #333;
    background-image: url('https://madaame-shigureui.com/assets/img/event_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;/*この辺合わせる*/
}

#header .inner nav {
    width: 100%;
    height: 60px;
    background: #FFE5E5;
    position: fixed;
    z-index: 10;
}

#header .inner nav div {
    color: #5E390F;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}

#header nav ul {
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: center;
    max-width: 100%;
}
#header nav ul li {
	display: table-cell;
	min-width: 50px;
    display: inline-block;
    line-height: 60px;
    margin-left: 5px;
}
#header nav ul li a {
	display: block;
	width: 100%;

	text-decoration: none;
	color: #5E390F;
	font-weight: bold;
}
#header ul li.current{
background-color: #DEEBF7;
}
#header ul li.current a{
color: #555;
}
#header ul li:hover{
background-color: #FFF2CC;
}
#header ul{
	display: block;
	width: 100%;
	background-color: #f7cda1;
}
}


/*main用*/
hr {
	height: 0px;
	width: 0px;
}
.content_intro {
	position: relative;
	display: flex;
	width : calc(100% / 2);
    padding: 5px;
	width: 100%;
	float: left;
}
.content_intro > div{
	width: 50%;
}
#left_section {
	position:static;
	margin-left: 15%;
	top: 15%;
}
.content_intro .txt{
	display: block;
	color: #321e08;
	font-family:"BIZ UDPGothic";
	text-align: left;
	line-height: 23px;
	position: absolute;
  	top: 70px;
	left: 8%;
	font-size: 1.3vw;
	margin-left: 0%;
	background-color: rgba(255, 255, 255, 0.95);
	border: 5px solid #FFF;
    box-shadow: 0 0 5px #999;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:  15px;
	border-radius: 10px 10px 10px 10px;
}
.content_intro .sono1{
	display: inline-block;
	font-family: "Hiragino Kaku Gothic ProN";
	padding-top:  15px;
	padding-bottom:  15px; 
	line-height: 20px;
	font-size: 1.2vw;
}

.content_intro>div{
    padding: 10px 30px;
    margin: 0;
    list-style: none;
    text-align: center;
}

.parent{
  bottom: 10%;
  width:100%;
  background:#9e9e9e00;
}
.parent img{
	border: 5px solid #FFF;
    box-shadow: 0 0 5px #999;
}
.children1{
	position:absolute;
	bottom: 10%;
	width:29%;
	margin-left: -110px;
  	rotate: -15deg;
  	transform: scale(-1, 1);
}
.children2{
	position:absolute;
	bottom: 4%;
	width:25%;
	margin-left: 160px;
  	rotate: 10deg;
}

#right_section {
	margin-right: 5%;
	margin-left: auto;
	display: block;
	position: relative;
	top: 15%;
}
/*親要素＞背景色*/
#right_section img{
    width:auto;
    height:600px;
    position: relative;
    z-index: 30;    
}
#right_section span {
    position:absolute;
	width:180px;
    height:490px;
    /*width:160px;
    height:380px;*/
    transform: translate(-118%, 14%);
    /*以下装飾*/
    background: #ffffffe2;
    text-align:  center;
    z-index: 20;
}

.content_intro .right_section img{
	background: #ffffff00;
	
}

.content_intro .child-test01 {
	width: calc(100% + 10px);
	background: #EECE34;
}

.contents {
  font-size: 1.6rem;
  margin-bottom: 10em;
  opacity: 0;
  transform: translateY(100px);
  transition: all 1.5s;
}
.contents.visible{
  opacity: 1;
  transform: translateY(0);
}
.content_1,
.content_2,
.content_3 {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1.5s;
}
.content_1.visible,
.content_2.visible,
.content_3.visible {
  opacity: 1;
  transform: translateY(0);
}
.content_close {
	font-size: 1.6rem;
	margin-bottom: 10em;
	opacity: 0;
	transform: translateY(100px);
	transition: all 1.5s;
  }
.content_close.visible{
	opacity: 1;
	transform: translateY(0);
}

/*.heading-3 {
  font-size: 90%;
  margin: 3em 0 1em;
  padding-left: 1em;
  margin-left: 5%;
  letter-spacing: .1em;
  border-left: 10px solid #9F2136;
  border-bottom: 2px solid #9F2136;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}*/

.s_txt{ 
	font-size: 0.4em; 
	line-height: 1em; 
	letter-spacing: 0.1em; 
	padding-left: 4px;
}
.main_tit{ 
	display: block; 
	width: calc(100% - 100px); 
	margin-left: 5%; 
	text-align: left; 
	position: relative;
	top: -27px;
	z-index: 1;
}
.heading-1,
.heading-2,
.heading-3{ 
	content:""; 
	position: absolute; 
	width: 94%; 
	height: 46px; 
	top: 10px; 
	border-radius: 0 50px 50px 0; 
	left: 0; 
	z-index: -1;
}
.heading-1 {
	background-color: #ce495f; 
}
.heading-2 {
	background-color: #e9776f; 
}
.heading-3 {
	background-color: #ffac8c; 
}
.slidein {
    opacity: 0;
    transform: translate(0,0);
    transition: all 1.0s;
	transform: translate(-100%,0);
	&.scrollin{
	  transform: translate(0, 0)!important;
	  opacity: 1!important;
	}
}
/*キャラクターの紹介*/
.character_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 30px 0;
    padding-top: 30px;
	margin-left: auto;
    margin-right: auto;
}
.item_box {
    width: calc(100% / 4 - 30px);
    margin-bottom: 30px;
    padding: 50px 10px;
    text-align: center;
}

.postPageBackParagraph {
  padding: 100px 1em 100px;
  text-align: center;
}
.postPageBackParagraph a {
  text-decoration: none;
}
.postPageBackParagraph a,
.postPageBackParagraph a:link {
  font-weight: bold;
  color: #192f60;
}
.postPageBackParagraph a:visited {
  color: #551A8B;
}
.postPageBackParagraph a:hover {
  opacity: .7;
}

/*横スクロールloop*/
.x-scroll {
	width: 100%;
	overflow: hidden;
}
.x-scroll_inner {
	display: flex;
	animation: 30s linear infinite xScroll;
}
@keyframes xScroll {
	0%     { transform: translateX(0);}
	100% { transform: translateX(-1610px);} /* .x-scroll_block 1つ分の幅だけ動かす */
}
.x-scroll_block {
	display: flex;
	width: 1610px; /* (320px + 20px) + 5 */
}
.x-scroll_item {
	width: 320px;
	height: 180px;
	margin: 1px;
}
.x-scroll_item:nth-child(1) {
	background: pink;
}
.x-scroll_item:nth-child(2) {
	background: red;
}
.x-scroll_item:nth-child(3) {
	background: purple;
}
.x-scroll_item:nth-child(4) {
	background: blue;
}
.x-scroll_item:nth-child(5) {
	background: skyblue;
}
.null {
	padding: 10px 1em 10px;
	text-align: center;
}
/*最後の写真*/
.yorosiku{
	position: relative;
	text-align: center;
}
.yorosiku::before {
	z-index: -1;
    position: absolute;
    inset: -8% 20% 8% 10%;
    border: 3px solid #ff0000;
	border-radius: 100px 100px 100px 100px;
    content: '';
}
.example5 {
	border-radius: 100px 100px 100px 100px;
}
/*
.example5 {
	box-shadow: -50px -50px 0 #519538;
}*/

/*footer用*/
.my-twitter {color: #ffffff}
.my-youtube {color: #ffffff}
.my-pixiv {filter: brightness(500);}

.my-twitter:hover {color: #E1E1E1;}
.my-youtube:hover {color: #E1E1E1;}
.my-pixiv:hover {filter: brightness(2);}

#footer {
	background-color: #6B0F08;
	color: #fff;
  border-top: solid 1px lightgray;
	padding-top: 10px;
  padding-bottom: 10px;
}
#l-footer__sns-link {
	float: left;
	padding-top: 5px;
	padding-left: 1.0em
}
#r-footer {
	text-align: right;
	padding-right: 6.0em
}
#footer ul li {
  padding: 0.4px;
  display: inline;
}
.end-text{
	font-size: 50%;
}

/*幅が1050pxより小さいときの処理　*/
@media screen and (max-width: 880px) {
	#page {
		border-color: rgb(4, 255, 0);
	}
}
/*　ハンバーガーボタン + 幅が700pxより小さいときの処理　*/
@media screen and (max-width: 700px) {
	#page {
			border-color: red;
	}
	.header-banner {
			background-color: #333;
			background-image: url('https://madaame-shigureui.com/assets/img/event_img.jpg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: 510px;/*この辺合わせる*/
	}
	.heading-1,.heading-2,.heading-3 {
		padding: .1em;
		text-align: center;
		color: #fffffc;
		background-color: #9F2136;/*#192f60;*/
		border-radius: 0 50px 50px 0; 
	}
	.s_txt{ 
		font-size: 0.4em; 
		line-height: 1em; 
		letter-spacing: 0.1em; 
		padding-left: 4px;
	}
	.main_tit{ 
		font-size: 0.8em; 
		display: block; 
		width: calc(100% - 100px); 
		margin-left: 5%; 
		text-align: left; 
		position: relative;
		top: -5px;
		z-index: 1;
	}

	.sm {
		  display: block;
		  position: fixed;
		  background-color: #ffffff;
		  width: 220px;
		  top: 0;
		  left: -300px;
		  bottom: 0;
		  transition: all 0.5s;
		  z-index: 3;
		  opacity: 0;
	}

	.open nav {
		  left: 0;
		  opacity: 1;
	}

	nav .inner {
		  padding: 25px;
	}

	nav .inner ul {
		  list-style: none;
		  margin: 0;
		  padding: 0;
	}

	nav .inner ul li {
		  margin: 0;
		  border-bottom: 1px solid #333;
	}

	nav .inner ul li a {
		  display: block;
		  color: #333;
		  font-size: 14px;
		  padding: 1rem;
		  text-decoration: none;
		  transition-duration: 0.2s;
	}

	nav .inner ul li a:hover {
		  background: #e4e4e4;
	}

	.toggle-btn {
		  display: block;
		  position: fixed;
		  top: 30px;
		  right: 30px;
		  width: 30px;
		  height: 30px;
		  z-index: 3;
		  cursor: pointer;
	}

	.toggle-btn span {
		  position: absolute;
		  display: block;
		  left: 0;
		  width: 30px;
		  height: 2px;
		  background-color: #333;
		  transition: all 0.5s;
		  border-radius: 4px;
	}

	.toggle-btn span:nth-child(1) {
		  top: 4px;
	}
	.toggle-btn span:nth-child(2) {
		  top: 14px;
	}
	.toggle-btn span:nth-child(3) {
		  bottom: 4px;
	}

	.open .toggle-btn span {
		  background-color: #fff;
	}

	.open .toggle-btn span:nth-child(1) {
		  transform: translateY(10px) rotate(-315deg);
	}

	.open .toggle-btn span:nth-child(2) {
		  opacity: 0;
	}

	.open .toggle-btn span:nth-child(3) {
		  transform: translateY(-10px) rotate(315deg);
	}

	#mask {
		  display: none;
		  transition: all 0.5s;
	}

	.open #mask {
		  display: block;
		  background: #000;
		  width: 100%;
		  height: 100%;
		  top: 0;
		  left: 0;
		  position: fixed;
		  opacity: 0.8;
		  z-index: 2;
		  cursor: pointer;
	}
	.flex-container { display: flex; }
	.image-wrap{ margin: 7px 2px; }
	.image-wrap img { height: 70px; }
	#flex {
		float: left;
		width: 50%;
	}
	#site_reserve {
		float: right;
		width: 70%;
		text-align: right;
		margin-top: 50px;
	}
	.site_tel {
		font-size: 1.2em;
		color: #C20D23;
	}
	#content {
		width: 100%;
	}
	#r-footer {
		text-align: right;
		padding-right: 2.0em
	}

	

}

/*スクロールバー(上部へ戻る用)*/
html{
    scroll-behavior: smooth;
}
.gotop{
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #999;
    padding-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 10000;
}
.gotop::before{
    content: "";
    display: block;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    width: 25%;
    height: 25%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
}
.gotop:hover{
    opacity: 1;
}
@media(max-width:700px){
    .gotop{
        width: 40px;
        height: 40px;
        text-indent: -9999px;
        opacity: 1;
        border: none;
        background: none;
        bottom: 10px;
        right: 10px;
    }
    .gotop::before{
        bottom: 0;
    }
}
