/*親要素*/
#example img{
    width:auto;
    height:500px;
    position: relative;
    z-index: 30;
    
}

/*文字*/
#example span {
    position:absolute;
    width:100px;
    height:430px;

    transform: translate(-150%, 10%);
    /*以下装飾*/
    background: #74c1f8;

    text-align:  center;
    z-index: 20;
}